name: Push Release Branch

on:
  push:
    tags:
      - v*.*.*
      - "!v*.*.*-*"

jobs:
  create-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm ci

      - name: Create release branch
        run: ./.github/workflows/create-release-branch.sh
